<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="h5">Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="popUpInfoProduct">
      <div class="informationBill">
        <div *ngIf="billProductDetail.status==='done';else delivering" class="informationBill-img"
          style="background: linear-gradient(90deg, #23C933 0%, #1D9E2A 86.79%);">
          <img src="./assets/icon/check.svg" alt="done" class="mid">
        </div>
        <ng-template #delivering>
          <div class="informationBill-img" style="background: linear-gradient(90deg, #ffd600 0%, #e6cc06 100%);">
            <img src="./assets/icon/box.svg" alt="delivering" class="mid">
          </div>
        </ng-template>
        <div class="informationBill_decrip">
          <div class="informationBill_decrip-title h7">
            {{billProductDetail.name}}
          </div>
          <div class="informationBill_decrip-content h9">
            <p>Total: {{billProductDetail.total}}</p>
            <p>Order daily: {{billProductDetail.orderDaily}}</p>
          </div>
        </div>
        <div *ngIf="billProductDetail.status==='done';else indelivery" class="informationBill-status"
          style="color:#1EA22B ;">Delivered</div>
        <ng-template #indelivery>
          <div class="informationBill-status" style="color: #E6CC06;">Delivering</div>
        </ng-template>
      </div>
    </div>
    <p class="h6 title">Your Book</p>
    <div *ngFor="let item of billProductDetail.product;index as i" class="product">
      <div class="product-img contain-img">
        <img [src]="item.img" alt="">
      </div>
      <div class="product_info">
        <div class="product_info-name h7" style="font-family: 'ESB';">
          {{item.name}}
        </div>
        <div class="product_info-decrip h8">
          <p>Price: {{item.price}}</p>
          <p>Quantity: {{item.quantity}}</p>
        </div>
      </div>
      <p class="total">Total: {{item.price * item.quantity}}</p>
    </div>
    <p class="h6 title" style="float: right;margin-right: -20px; padding:5px 25px 5px 5px; text-align: right;">Payment
    </p>
    <div class="payment">
      <div class="payment_select">
        <div class="payment_option">
          <div class="payment_option-checkIcon">
            <ion-checkbox disabled="true" [checked]="billProductDetail.paymentMethod==='vnpay'"></ion-checkbox>
          </div>
          <div class="payment_option-name h6">Payment Via VNPay</div>
        </div>
        <div class="payment_option">
          <div class="payment_option-checkIcon">
            <ion-checkbox disabled="true" [checked]="billProductDetail.paymentMethod ==='cashmoney'"></ion-checkbox>
          </div>
          <div class="payment_option-name h6">Payment Via Cash Money</div>
        </div>
      </div>
    </div>
    <div class="totalMoney">
      <p class="h6">Total: {{billProductDetail.total}}</p>
      <p class="h6">Delivery charges: {{billProductDetail.transportFee}}</p>
      <p class="h6">Total amount: {{billProductDetail.total + billProductDetail.transportFee}}</p>
    </div>
  </div>
</ion-content>