.header {
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  .menu {
    width: 35px;
    height: 15px;
    position: relative;
    z-index: 1;
    span {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      background-color: white;
      &:nth-child(1) {
        top: 0;
        transition: 0.5s;
      }
      &:nth-child(2) {
        bottom: 0;
        transition: 0.5s;
      }
    }
  }
  .activeButton {
    height: auto;
    span {
      &:nth-child(1) {
        top: unset;
        background-color: black;
        transform: rotate(45deg);
        transition: 0.5s;
      }
      &:nth-child(2) {
        bottom: unset;
        background-color: black;
        transform: rotate(-45deg);
        transition: 0.5s;
      }
    }
  }
  .login {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: 2px 5px 0 0;
      font-size: 24px;
      font-family: "EN";
    }
    img {
      width: 19px;
      height: 19px;
    }
  }
}
.navBar {
  position: fixed;
  width: 100%;
  opacity: 0;
  transform: translateY(-100%);
  background-color: white;
  transition: 0.5s;
  transition-delay: 1.2s;
  .menu {
    margin-top: 80px;
    p {
      margin: 10px 0;
      font-family: "ESB";
      font-size: 24px;
      opacity: 0;
      color: #a8a8a8;
      text-align: center;
      text-transform: uppercase;
      transform: translateX(-100%);
      transition: 1s;
      &:nth-child(1) {
        transition-delay: 0.9s;
      }
      &:nth-child(2) {
        transition-delay: 0.8s;
      }
      &:nth-child(3) {
        transition-delay: 0.7s;
      }
      &:nth-child(4) {
        transition-delay: 0.6s;
      }
      &:nth-child(5) {
        transition-delay: 0.5s;
      }
    }
    .active {
      color: black;
    }
  }
  .information {
    text-align: center;
    font-family: "EN";
    &-title {
      font-family: "Dorsa";
      font-size: 43px;
      opacity: 0;
      transition: 0.3s;
      transition-delay: 0.5s;
    }
    &-decrip p {
      font-size: 16px;
      line-height: 23px;
      margin: 3px 0;
      letter-spacing: 0.025em;
      transform: translateY(20px);
      opacity: 0;
      transition: 0.5s;
      transition-delay: 0.4s;
    }
    &-social {
      width: 60%;
      margin: 28px auto 33px;
      display: flex;
      opacity: 0;
      transition: 0.5s;
      transition-delay: 0.3s;
      align-items: center;
      justify-content: space-evenly;
    }
    svg {
      opacity: 0;
      transition: 0.5s;
    }
  }
}
.activeNavbar {
  transform: translateY(-60px);
  opacity: 1;
  transition: 0.5s;
  .menu {
    p {
      opacity: 1;
      transform: translateX(0%);
      transition: 1s;
      &:nth-child(1) {
        transition-delay: 0.3s;
      }
      &:nth-child(2) {
        transition-delay: 0.4s;
      }
      &:nth-child(3) {
        transition-delay: 0.5s;
      }
      &:nth-child(4) {
        transition-delay: 0.6s;
      }
      &:nth-child(5) {
        transition-delay: 0.7s;
      }
    }
  }
  .information {
    &-title {
      opacity: 1;
      transition: 0.5s;
      transition-delay: 1s;
    }
    &-decrip p {
      transform: translateY(0px);
      opacity: 1;
      transition: 0.5s;
      transition-delay: 1.2s;
    }
    &-social {
      opacity: 1;
      transition: 0.5s;
      transition-delay: 1.4s;
    }
    svg {
      opacity: 1;
      transition-delay: 1.6s;
      .sign {
        transition-delay: 1.8s;
        margin: 0 auto;
        fill: none;
        stroke: black;
        stroke-miterlimit: 10;
        stroke-width: 1px;
        stroke-dasharray: 250;
        stroke-dashoffset: 280;
        animation-name: Signature;
        animation-duration: 8s;
        animation-fill-mode: forwards;
      }
    }
  }
}
