<ion-header class="ion-no-border" [class.backgroundShadow]="backgroundShadow">
  <app-header
  [menuHeight]="menuHeight" [wherePage]="wherePage"></app-header>
</ion-header>

<ion-content>
  <div class="banner_product">
    <img src="assets/images/banner_product.jpg" alt="banner_product">
  </div>
  <div class="card-border">
    <ion-card class="grid-sub-menu">
      <ion-card-content>
        <div class="menu-content">
          <div class="menu-item-group">
            <div class="menu-item ion-activatable ripple-parent" *ngFor="let item of listTypeBook" (click)="hanldeChangeTypeBook(item)">
              <div class="menu-icon" [style.background]="item.color">
                <ion-icon name="reader-outline"></ion-icon>
              </div>
              <ion-text class="h8">{{item.name}}</ion-text>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="list-product" *ngIf="loadingSkeleton">
    <h3 class="h3">{{labelTypeBook}}</h3>
    <div class="list-product_item">
      <ion-card *ngFor="let item of listProduct" (click)="goDetail(item)">
        <img [src]="item.imageURL" alt="product-item">
        <div class="info-product">
          <h4 class="h6">{{item.name}}</h4>
          <p class="h9">Price: {{item.price}}d</p>
          <div class="rating-product">
            <p class="h9" style="margin-right: 5px;">Rating:</p>
            <ng-rating-bar 
              [value]="item.rating" 
              [ratingCount]="5" 
              colorActive = "#FFC107"
              [styles]="{fontSize: '18px', margin: '-5px'}"
            ></ng-rating-bar>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
  <div class="list-product" *ngIf="!loadingSkeleton">
    <ion-skeleton-text animated style="width: 35%; height: 30px; margin: 20px 0 0 10px;"></ion-skeleton-text>
    <div class="list-product_item">
      <ion-card *ngFor="let i of [1,2,3,4,5,6]">
        <ion-skeleton-text animated style="width: 90%; height: 100%;"></ion-skeleton-text>
        <div class="info-product">
          <ion-skeleton-text animated style="width: 100%; height: 10px; margin-top: 10px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%; height: 10px; margin-top: 10px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%; height: 10px; margin-top: 10px;"></ion-skeleton-text>
        </div>
      </ion-card>
    </div>
  </div>
  <div class="btn-more" [class.btn-active]="isClick" (click)="hanldeClickButtonMore('open')">
    <img src="assets/icon/more.svg" alt="btn-more">
  </div>
  <div class="btn-control" [class.btn-active-control]="isClick">
    <div class="btn-search">
      <img src="assets/icon/search.svg" alt="btn-more">
    </div>
    <div class="btn-close h5" (click)="hanldeClickButtonMore('close')">
      x
    </div>
  </div>
</ion-content>
<div class="loading" *ngIf="loading">
  <div class="loading_shadow"></div>
  <div class="loading_ring"><div></div><div></div><div></div><div></div></div>
</div>