.loginPage {
  position: relative;
  .blurBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    .img{
        position: absolute;
        object-fit: cover;
    }
    .imgOne{
        width: 247px;
        height: 295px;
        z-index: -1;
        top:138px;
        left: -20px;
    }
    .imgTwo{
        z-index: -2;
        top: 336px;
        left: -20px;
        width: 318px;
        height: 302px;
    }
    background: rgba(0, 0, 0, 0.7);
  }
  ion-header {
    height: 60px;
    background-color: transparent;
  }
  ion-content {
    --background: transparent;
    font-family: 'AV';
    .form{
        width: 85%;
        margin: 0 auto;
        .title{
            color: white;
            font-size: 45px;
        }
        .form-control{
            margin-bottom: 15px;
            position: relative;
            ion-input{
                --background:white;
                height: 50px;
                border-radius:5px;
                text-align: center;
            }
            img{
                width: 20px;
                height: 20px;
                position: absolute;
                right: 10px;
                top: 50%;
                z-index: 2;
                transform: translate(0,-50%);
            }
        }
        .button{
            width: 100%;
            height: 60px;
            background-color: #CDB018;
            margin-bottom: 15px;
        }
    }
  }
}
