ion-header {
  position: absolute !important;
  background: transparent;
  height: 60px;
}
.slider {
  &_item {
    width: 100%;
    height: 100%;
    position: relative;
    &.swiper-slide-active {
      .slider_item-left {
        transition: 0.8s;
        transform: rotate(-90deg);
      }
      .slider_item-text {
        h2 {
          opacity: 1;
          visibility: visible;
          transition: 0.5s;
          transition-delay: 0.6s;
          transform: translateY(0);
        }
        p {
          opacity: 1;
          visibility: visible;
          transition: 0.5s;
          transition-delay: 0.8s;
          transform: translateY(0);
        }
      }
    }
    &-image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-left {
      color: #fff;
      font-family: AV;
      position: absolute;
      top: 18%;
      left: -7%;
      transition: 0.8s;
      transform: rotate(0);
    }
    &-text {
      width: 100%;
      padding: 20px;
      color: #fff;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      h2 {
        line-height: 77px;
        font-family: EN;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        transition-delay: 0.6s;
        transform: translateY(15%);
      }
      &.left {
        text-align: left;
      }
      &.right {
        text-align: right;
      }
      &.center {
        text-align: center;
      }
      p {
        font-family: ESB;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        transition-delay: 0.8s;
        transform: translateY(15%);
      }
    }
    &-right {
      color: #fff;
      font-family: AV;
      position: absolute;
      bottom: 22%;
      right: -9%;
      &.back-to-top {
        bottom: 15%;
        right: -6%;
        animation: totop 1s ease forwards infinite !important;
      }
    }
  }
}
.music {
  position: fixed;
  left: 5%;
  bottom: 3%;
  z-index: 1;
}

.rotate360 {
  animation: rotate360 10s linear 0s infinite;
  -webkit-animation: rotate360 10s linear 0s infinite;
  -moz-animation: rotate360 10s linear 0s infinite;
  -o-animation: rotate360 10s linear 0s infinite;
}
@keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
.animationRight {
  animation: todown 1s ease forwards infinite;
}
@keyframes todown {
  0% {
    transform: translateY(0px) rotate(90deg);
    opacity: 0.5;
    transition: 0.4s;
  }
  100% {
    transform: translateY(30px) rotate(90deg);
    opacity: 1;
    transition: 0.4s;
  }
}

@keyframes totop {
  0% {
    transform: translateY(0px) rotate(-90deg);
    opacity: 0.5;
    transition: 0.4s;
  }
  100% {
    transform: translateY(-30px) rotate(-90deg);
    opacity: 1;
    transition: 0.4s;
  }
}
