<ion-content class="loginPage">
  <div class="blurBackground">
    <img src="./assets/images/book2.jpg" alt="image1" class="img imgOne">
    <img src="./assets/images/book1.jpg" alt="image1" class="img imgTwo">
  </div>
  <ion-header class="ion-no-border">
    <app-header 
    [menuHeight]="menuHeight"></app-header>
  </ion-header>
  <ion-content>
    <div class="container">
      <div class="form">
        <div class="title">
          SignIn
        </div>
        <div class="form-control">
          <ion-input placeholder="Username">
          </ion-input>
          <img src="./assets/icon/user.svg" />
        </div>
        <div class="form-control">
          <ion-input placeholder="Password" type="Password">
          </ion-input>
          <img src="./assets/icon/lock.svg" />
        </div>
        <div class="form-control">
          <ion-input placeholder="Email">
          </ion-input>
          <img src="./assets/icon/mail.svg" />
        </div>
        <div class="form-control">
          <ion-input placeholder="Phone" type="Number">
          </ion-input>
          <img src="./assets/icon/telephone.svg" />
        </div>
        <div class="form-control">
          <ion-input placeholder="Address">
          </ion-input>
          <img src="./assets/icon/pin.svg" />
        </div>
        <div class="button">Login</div>

      </div>
    </div>
    <p class="wellcome">Wellcome to LTBook</p>
  </ion-content>
</ion-content>